.Hidden{
	visibility: hidden;
}

#title{
	margin-top: 5%;	
	text-align: center;
}

#time_input_form{
	margin-left: 5%;
	margin-right: 5%;
}

#now_playing{
	margin-top: 5%;
}

.button_grouping{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}



